body {
  max-width: 375px;
  margin: auto;
}

header {
  background-color: #87a24a;
  padding: 13px 0 22px 0;
}

a {
  text-decoration: none;
  color: #5e6d33;
}

header .logo {
  width: 83px;
  display: flex;
  position: relative;
  left: 50%;
  transform: translate(-50%);
  margin: 0 0 17px 0;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.link-3,
.link-4 {
  margin: 13px 0 0 0;
}
